VU3_USER=
VU3_PASS=

OUTLOOK_USER=
OUTLOOK_PASS=

PUSHOVER_TOKEN=
PUSHOVER_API_TOKEN=
PUSHOVER_USER=
PUSHOVER_USER_KEY=

OUTLOOK_FOLDER_NAME="VU3 Leads"
LEAD_SUBJECT="Értékesítési lead-ek - Új lead került hozzárendelésre a csoportjához"
LEAD_FROM="VU3 HU 00979 - Debrecen Autóház Zrt. <no_reply@porscheinformatik.com>"

AFTER_ASSIGNED_DELAY_MS=1500
INPROCESS_RETRIES=3
INPROCESS_RETRY_DELAY_MS=1200
VU3_ALERT_COOLDOWN_MS=600000
VU3_ALERT_GRACE_MS=180000
SESSIONWATCH_VERBOSE=0
VU3_DEBUG=0

PW_PROFILE_CRM=./pw-profile-crm
PW_PROFILE_MAILWATCH=./pw-profile-mailwatch
